{% extends "base-index.html" %}

{% load static %}
{% block content %}

<div class="container error-page">
    <div class="row">
        <div class="col-xl-6">
            <h2 class="display-2">
                &#35; 400 Bad Reques<span class="vim-caret">t</span>
            </h2>
            <div class="lead mb-3 text-mono text-success">
                The request could not be understood by the server due to malformed syntax.
            </div>
        </div>
    </div>
</div>

{% endblock content %}
