{% extends "base-index.html" %}

{% load static %}
{% block content %}

<div class="container error-page">
    <div class="row">
        <div class="col-xl-6">
            <h2 class="display-2">
                &#35; 404 Not foun<span class="vim-caret">d</span>
            </h2>
            <div class="lead mb-3 text-mono text-success">
                The page you have requested has gone to the Mars...
            </div>
        </div>
    </div>
</div>

{% endblock content %}
