{% extends "base-index.html" %}

{% load static %}
{% block content %}

<div class="container error-page">
    <div class="row">
        <div class="col-xl-6">
            <h2 class="display-2">
                &#35; 500 Internal Server Erro<span class="vim-caret">r</span>
            </h2>
            <div class="lead mb-3 text-mono text-success">
                But don't worry, the admin has been notified and will fix it soon.
            </div>
        </div>    
    </div>
</div>

{% endblock content %}
